PORT=3000

# SlipOK API Configuration
SLIPOK_BRANCH_ID=YOUR_BRANCH_ID
SLIPOK_API_KEY=YOUR_SLIPOK_API_KEY

# PromptPay Configuration (Phone number e.g. 0812345678 or Citizen ID 13 digits)
PROMPTPAY_ID=0812345678

# Streamer / Account Verification (Optional)
RECEIVER_NAME=
RECEIVER_ACCOUNT=

# Admin Secret / Token
ADMIN_SECRET=streamer1234
